[Unit]
Description=Launch Calamares installer
After=graphical-session.target

[Service]
ExecStart=/usr/bin/env QT_STYLE_OVERRIDE=arc-dark calamares
Restart=on-failure

[Install]
WantedBy=default.target
